.drop-file-container {
  padding-left: 25px;
  padding-right: 25px;
}

.drop-file-container label {
  background: var(--light-gray);
  border-radius: 6px;
  cursor: pointer;
  padding: 20px;
}

.drop-file-container > label > p:first-child {
  color: var(--primary);
}

.drop-file-container > label > p:nth-child(2) {
  color: green;
}

.drop-file-container input {
  display: none;
}

.drop-file-container label.hover {
  background: rgba(188, 65, 35, 0.1);
}
