.table-container {
  width: 280px;
  height: 430px;
  background: var(--light-gray);
  border-radius: 7px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.table-container:hover {
  transform: scale(1.02);
}

.table-container > img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 60%;
}

.table-container > section {
  padding-left: 6px;
  padding-top: 6px;
  flex-grow: 1;
}

.table-container h3,
.table-container h4,
.table-container h5 {
  color: var(--primary);
}
