@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 20px;
  background: var(--secondary);
}

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

/* Reusable classes */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.j-c-c {
  justify-content: center;
}
.a-i-c {
  align-items: center;
}
.j-c-s-b {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

ul {
  list-style: none;
}
