@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 20px;
  background: var(--secondary);
}

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
  --light-gray: #e5e5e5;
}

/* Reusable classes */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.j-c-c {
  justify-content: center;
}
.a-i-c {
  align-items: center;
}
.j-c-s-b {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}
.h-80 {
  height: 80%;
}

ul {
  list-style: none;
}

/* Margins */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
