.employees-container {
  padding-top: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
}

.order-section label {
  color: var(--light-gray);
  font-size: 16px;
  font-weight: 600;
}
.order-section select {
  margin-left: 20px;
  width: 150px;
  height: 40px;
  outline: none;
  border-radius: 7px;
  background: var(--light-gray);
}

.order-section label:nth-child(3) {
  margin-left: 20px;
}
.order-section button {
  margin-top: 0;
  margin-left: 20px;
}

.pagination-container section {
  width: 80%;
}

.pagination-container div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--light-gray);
}

.pagination-container img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
