.input-text {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  background-color: #e5e5e5;
  position: relative;
  padding-left: 10px;
}

.input-text input {
  border: none;
  background-color: #e5e5e5;
}

.input-text input:focus {
  outline: none;
  border: none;
}

.input-text p {
  position: absolute;
  font-size: medium;
  left: 10px;
  top: 11px;
  color: var(--secondary);
  transition: all 100ms ease-in;
}

.input-text.input-text-p-focused {
  border-width: 0.4px;
  border-color: var(--primary);
  border-style: solid;
}

.input-text.input-text-p-focused input {
  margin-top: 8px;
}

.input-text.input-text-p-focused p {
  color: var(--primary);
  font-size: 10px;
  font-weight: 700;
  left: 5px;
  top: 0px;
}
