.nav-bar h1,
a {
  color: var(--ligt-gray);
}

.nav-bar a {
  margin-right: 14px;
  font-size: large;
  border-radius: 7px;
  background-color: var(--primary);
  padding: 6px;
  text-decoration: none;
}

.nav-bar {
  padding-bottom: 15px;
  border-bottom: 0.5px solid var(--ligt-gray);
}
